@model pmo.Models.MainPageModel

@{
    ViewBag.Title = "Real Estate | Property in India | Property in Mira Road | Property in Mumbai | Property in Thane | Buy/Sale/Rent Properties | Property Masters Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var yr = ViewData["year"];
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
<div class="row row-fluid bg-info">
    <div class="col-md-12 center">
            <div class="row">
                <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => Model.SearchModel.Property)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SearchModel.Property, ViewBag.PropertyTypeList as SelectList, "(Select Your Requirement)", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SearchModel.Property, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SearchModel.Location)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SearchModel.Location, ViewBag.LocationList as SelectList, "(Select Location)", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SearchModel.Location, "", new { @class = "text_danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SearchModel.Budget)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SearchModel.Budget, ViewBag.BudgetList as SelectList, "Select your Budget", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SearchModel.Budget, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2 align-content-md-center">
                <div class="editor-label">
                     <br />
                </div>
                <div class="editor-field">
                        <input type="submit" value="Search" class="btn btn-primary" />
                </div>
                </div>
                <div class="col-md-2"></div>
        </div>
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.AllProperty)
        {
            <a href="home/PropertyDetails/@item.Estate_Id">
                <div class="col-12 col-md-4 col-xl-4">
                    <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (pmo.Models.PropertyImage Image in pmo.Models.PropertyImage.GetImages(item.PropertyID))
                                {
                                        <div class="item @Image.Active">
                                            <img src="~/Images/PropertyImages/@Image.ImageName" />
                                        </div>
                                        }
                                </div>

                                <div class="tag">
                                    <span>For Sale</span>
                                </div>
                                <div class="list-Area">
                                    <p class="location">@item.Location</p>

                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>@item.ProjectName</h5>
                                <span class="location">@item.Builder</span>
                                <p>
                                    @item.FlatBHK | @item.SizeArea<br />
                                    ₹ @item.StartPrice Onward
                                </p>
                                <p><input type="button" class="btn btn-primary" value="See Details" /></p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
        }
</div>
</div>
}